*,
html,
:root {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  border: 5px solid black;
  margin: 50px auto;
  max-width: 50%;
  padding: 5px;
  overflow: hidden;
}

.main h1 {
  text-decoration: underline;
  font-size: 50px;
  text-align: center;
}

.main #printbtn {
  margin: 0px auto;
  display: block;
  padding: 5px 15px;
  border: 3px solid black;
}

.main #printbtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

h3 {
  text-align: center;
}

.generalComponent {
  margin: 20px 0;
}

.generalComponent .generalDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.generalComponent .generalDiv input {
  width: 100px;
}

.generalComponent button {
  margin: 0px auto;
  display: block;
  padding: 5px 15px;
  border: 3px solid black;
}

.generalComponent button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#infoDiv {
  margin: auto;
  width: 400px;
  display: none;
}

.educationComponent {
  margin: 20px 0;
}

.educationComponent .educationDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.educationComponent .btnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.educationComponent .btnDiv button {
  margin: 0px 10px;
  padding: 5px 15px;
  border: 3px solid black;
}

.educationComponent .btnDiv button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.educationComponent #addEducation {
  margin: 10px auto;
  display: block;
  padding: 5px 15px;
  border: 3px solid black;
}

.educationComponent #addEducation:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.experienceComponent {
  margin: 20px 0;
}

.experienceComponent .experienceDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experienceComponent .btnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experienceComponent .btnDiv button {
  margin: 0px 10px;
  padding: 5px 15px;
  border: 3px solid black;
}

.experienceComponent .btnDiv button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.experienceComponent #addExperience {
  margin: 10px auto;
  display: block;
  padding: 5px 15px;
  border: 3px solid black;
}

.experienceComponent #addExperience:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.experienceComponent #textarea {
  resize: vertical;
  width: 60%;
  margin: 10px auto;
  display: block;
  min-height: 50px;
  padding: 10px 20px;
}
/*# sourceMappingURL=styles.css.map */